h3 {
  color: var(--green);
  margin-bottom: 1em;
  margin-left: 1em;
}

.form-control {
  font-size: .9rem;
  color: var(--green);
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin-left: 1em;
}

.form-control:focus-within {
  color: var(--green);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--cream);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--green);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  box-shadow: inset 1em 1em var(--green);
  background-color: CanvaText;
}

input[type="radio"]:checked:before {
  transform: scale(1);
}

.form-control + .form-control {
  margin-top: 1em;
  margin-bottom: 1em;
}
