header {
  width: 80%;
  margin: auto;
}

h1 {
  margin: 50px 0;
  color: var(--green);
  text-align: center;
  user-select: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}

.searchbar {
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 20px;
  padding: 0.7rem;
  width: 60%;
  background-color: var(--cream);
}

.searchbar::placeholder {
  color: var(--green);
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3rem;
}

.searchbar:focus {
  outline: none;
}

.searchbar:text {
  color: var(--green);
}

.filter {
  color: var(--green);
  font-size: 2rem;
  vertical-align: middle;
  cursor: pointer;
}

.matches {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  max-width: 856px;
  justify-content: center;
  align-items: self-start;
  gap: 50px;
  margin: auto;
}

@media (min-width: 2560px) {
  .matches {
    max-width: 70%;
  }
}
