footer {
  text-align: right;
  margin-top: 3rem;
  padding: 20px;
}

.social-icons {
  display: flex;
  flex-flow: nowrap row;
  justify-content: flex-end;
  gap: 1em;
  color: var(--green);
}

.social-icons li {
  list-style: none;
}

footer a {
  color: var(--green);
  transition: all 0.5s ease;
}

footer a:hover {
  color: var(--dark-green);
}

@media (max-width: 768px) {
  footer {
    border-top: 1px solid var(--green);
  }
}
