.messages-container {
    width: 80%;
    margin: auto;
}

.message {
    color: #FFF;
    border-radius: 20px;
    padding: 1em;
    margin: auto;
    margin-bottom: 2em;
    min-height: 60px;
    max-width: 669px;
}

.message-received {
    background-color: var(--green);
}

.message-sended {
    text-align: right;
    margin-left: 2em;
    background-color: var(--dark-green);
}

header {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--dark-green);
    margin-right: 2em;
    margin-bottom: 20vh;
}

header img {
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
}

.search-form {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.search-form--input {
    width: 100%;
    border: 1px solid var(--green);
    border-radius: 20px;
    color: var(--green);
    padding: .5em 1em;
}

.search-form--input:focus {
    outline: none;
}

@media (min-width: 1260px){
    .search-form {
        position: relative;
        top: 4em;
    }

    .search-from--send {
        margin-right: 1em;
    }
}