.container-user-information {
  background-color: white;
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}
.container-user-information-header {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.container-form-information {
  display: flex;
  flex-flow: column;
}
.form-information-row {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
.container-user-information-text {
  width: 100%;
}
.container-user-information-body {
  display: flex;
  flex-flow: column;
  gap: 1.25rem;
}
.information-line-row {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

/**
*
*  PROFILE PICTURE
*/
.container__profile-picture {
  width: fit-content;
  position: relative;
  margin: auto;
}

.profile-picture {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  position: relative;
}

.profile-picture__label {
  width: 3rem;
  position: absolute;
  top: calc(9rem - 3rem);
  left: calc(9rem - 2.5rem);
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  height: 3rem;
  color: black;
  cursor: pointer;
  background-color: white;
  border: 2px solid var(--primary-light);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.35s;
}

.profile-picture__like {
  position: absolute;
  top: calc(9rem - 3rem);
  left: calc(9rem - 2.5rem);
}
.profile-picture__like:hover,
.profile-picture__label:hover {
  opacity: 0.6;
}

.input-file {
  display: none;
}
.container-information-not-profile {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}
.container-button-action {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
}
.container-user-tags {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}
.container-tags {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}
.label-tags {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  flex-flow: row;
  text-align: center;
}
.button-action-user {
  width: fit-content;
  border: none;
  flex: 1;
  font-size: 0.7rem;
  background-color: transparent;
  /* border-radius: 20px; */
  border-bottom: 3px solid var(--primary-dark);
  padding: 0.25rem;
  color: var(--primary-dark);
  transition: all ease 0.3s;
}
.button-action-user:hover {
  color: black;
  border-bottom: 3px solid var(--cream);
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
}
.tags-selected {
  /* background-color: var(--primary-light); */
  border: 1px solid black;
  font-size: 0.7rem;
  padding: 0.25rem 0.55rem 0.25rem 0.55rem;
  flex: 1;
  /* max-width: 150px; */
  border-radius: 10px;
}
@media (min-width: 880px) {
  .container-user-information {
    min-width: 800px;
    width: 65%;
    text-align: left;
  }
  .container-user-information-header {
    flex-flow: row;
    /* align-items: start; */
    gap: 2rem;
  }
  .form-information-row {
    flex-flow: row;
  }
  .container__user-tags {
    text-align: left;
  }
  .information-line-row {
    display: flex;
    flex-flow: row;
    gap: 5rem;
    text-align: center;
  }
  .button-select {
    font-size: 0.9rem;
    padding: 0.8rem;
  }
  .row-information {
    display: flex;
    flex-flow: row;
    gap: 1.25rem;
  }
  .container-button-action {
    margin: 0;
    flex-flow: row;
    align-items: normal;
  }
  .button-action-user {
    font-size: 0.8rem;
    flex: none;
  }
  .container-user-tags {
    flex-flow: row;
    justify-content: initial;
    gap: 3rem;
  }
  .container-tags {
    justify-content: initial;
  }
  .tags-selected {
    font-size: 0.9rem;
  }
  .label-tags {
    justify-content: initial;
  }
}
