
.container
{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.header-matcha{
  color: var(--green);
}
.body-sendEmail
{
  text-align: center;
  width: 40%;
  margin: auto;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
}
.button-resend{
  width: 50%;
  display: flex;
  flex-flow: row;
  min-width: 100px;
  margin: auto;
  background-color: var(--green);
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}

.link{
  text-decoration: none;
  color: black;
  transition: opacity 0.3s;
}
.link:hover{
  opacity: 0.6;
}