.container{
  display: flex;
  flex-flow: column;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: var(--cream);
}
.position-relative{
  position: relative;
}
.image-left{
  position: absolute;
  width:15vw;
  /* overflow: hidden; */
  height: 100vh;
  background:  top /cover no-repeat url("../../assets/glasse-img.jpeg");
  background-color: darkolivegreen;
}
.matcha-left{
  /* padding-bottom: 2ch; */
  color: #E7E2DA;
  height: fit-content;
  padding: 0;
  margin-left: 15vw;
  transform: rotate(90deg);
  transform-origin: 80%;
}
.matcha-right{
  background:   url("../../assets/glasse-img.jpeg");
  background-repeat: repeat;
  background-position: center right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  background-clip: text;
  width: 100vw;
  padding: 0;
  padding: 0;
  transform: rotate(90deg);
  transform-origin: 0%;
} 
.matcha-after-img{
  margin-left: 15vw;
  position: absolute;
  width:15vw;
  overflow: hidden;
  height: 100vh;
}

.header-landing-page{
  height: fit-content;
  display: flex;
  flex-flow: row;
  justify-content: right;
  align-items: center;
  gap: 2%;
  top: 2em;
  right: 2em;

  width: 100%;
  position: absolute;
}
.center-landing-page{
  display: flex;
  flex-flow: column;
  gap: 1em;
  /* top: 0;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  margin: 10%  auto  auto auto;

}
.button{
  border: none;
  font-size: 1rem;
  background-color: transparent;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.3s ;
}

.button:hover{
  border-bottom: 4px solid var(--green);
}
.button-action{
  background-color: var(--green);
  border: none;
  width: 21.125rem;
  height: 4.188rem
}

.image-absolute-left{
  width: 218px;
  background: top /cover no-repeat  url("../../assets/coffe-img.jpeg");
  height: 428px;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}
.container-image-absolute-left{
  width: 218px;
  height: 428px;
  position: absolute;
  top: 50%;
  right: 2%;
  margin-right: 2%;
  transform: translateY(-50%); 
}
.container-image-absolute-left::after{
  display: block;
  height: 100%;
  content: "";
  width: calc(100% + 10px);
  border-right: 10px solid var(--green);
  position: relative;
}

.container-image-absolute-bottom{
  width: 553px;
  height: 300px;
  position: absolute;
  background: center / no-repeat  url("../../assets/matcha-img.jpeg");
  background-color: red;
  top: 80%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  /* top: 50%; */
  /* right: 2%;
  margin-right: 2%;
  transform: translateY(-50%);   */
}