.card {
  color: var(--white);
  width: 252px;
  height: 300px;
  position: relative;
}

.user-infos {
  position: absolute;
  bottom: 0;
  margin: 0 0 1rem 0.5rem;
  user-select: none;
}

.user-infos-username {
  max-width: 12ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
