.filter-menu {
  border: 1px solid var(--green);
  border-radius: 20px;
  padding: 1rem;
  position: absolute;
  top: 250px;
  right: 100px;
  z-index: 999;
  background-color: var(--cream);
}

.select-effect {
  display: flex;
  flex-flow: nowrap row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: var(--green);
}

.filter-matches-wrapper, .sort-matches-wrapper {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

label {
  cursor: pointer;
}

.select-effect input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--cream);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 0.58em;
  height: 0.58em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.select-effect input {
  margin-right: .5rem;
}
