.container-layout {
  display: flex;
  flex-flow: column;
  width: 100vw;
  min-height: 100lvh;
  height: 100%;
}

.container-layout__header {
  margin-top: 1rem;
  color: var(--green);
  text-align: center;
}
