.sort-select-label {
  color: var(--green);
  margin: 1rem;
}

.sort-select {
  border: 1px solid var(--green);
  border-radius: 20px;
  padding: .5em;
  background-color: transparent;
  color: var(--green);
}

.sort-select:focus {
  outline: none;
}
