.sort-select-label {
  color: var(--primary-light);
  margin: 1rem;
}

.sort-select {
  border: 1px solid var(--primary-light);
  border-radius: 20px;
  padding: 0.5em;
  background-color: transparent;
  color: var(--primary-light);
  cursor: pointer;
}

.sort-select:focus {
  outline: none;
}
