* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* light theme */
  --dark-green: #707C4F;
  --green: #A4B07E;
  --cream: #E7E2DA;
  --white: #FFFFFF;
  --black: #000000;

  /* dark theme */
  --dark-brown: #6D4930;
  --brown: #B9A084;
}

body {
  background-color: var(--cream);
}

.header {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.title-1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.title-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.body-highlight {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}
