.filter-options .options {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  margin-bottom: 1rem;
  border: 1px solid var(--primary-light);
  border-radius: 20px;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--cream);
  width: 100%;
}

.filter-options .options p {
  color: var(--primary-light);
}
